# macos files
.DS_Store

# machine local state
user.yaml
installation.yaml

# local sync and trash dirs
sync/
trash/

# build artifacts
build
*.userdb

# vscode workspace files
*.code-workspace

# language model files
*.gram
